body {
    font-family: sans-serif;
    background-color: #f3a2e1;
    padding: 20px;
}

.contenedor {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.card h3 {
    margin-top: 0;
    color: #020202;
}

.tipo {
    font-weight: bold;
    color: #0b0b0b;
    font-size: 0.9em;
}


.activo {
    color: green;
    font-weight: bold;
}

.inactivo {
    color: red;
    font-weight: bold;
}
